.container-fluid {
    background-color: rgb(255, 255, 253);
    height : 650px;
    border: 2px solid rgb(68, 68, 68);
}

.container {
    text-align: center;
    color: rgb(15, 15, 15);
    font-style: oblique;
    margin: 10px;
}

.content {
    margin: 20px;
    width: 50%;
    float: left;
    padding-left: 10%;
}

img {
    max-width : 20%;
    max-height: 500px;
    float: right;
    margin-right: 150px;
    margin-top: 35px;
    border: 2px solid rgb(68, 68, 68);
    border-radius: 2px;
}