
<div class = "container-fluid">
  <div class =  "container">
  <h2>Here's a little bit about me</h2>
  </div>

  <div class =  "content">
    <br>
    My name is Ethan Humphries, I'm a third year Software Development student at Southern Cross University.<br>
    My programming skills are:
    <ul>
      <li>Java</li>
      <li>Angular (This page is Angular)</li>
      <li>HTML, CSS, Vanilla JS, JSON</li>
      <li>AWS (This site is hosted using an S3 bucket rather than an EC2 instance)</li>
      <li>VB.NET/C# (Building)</li>
    </ul>
    My goals in software development:
    <ul>
      <li>To become a full stack developer uisng Angular/React, NodeJS/.NET Core and SQL</li>
      <li>Write clean re-usable code following DRY and SOLID Principles</li>
      <li>To work in a lean and agile development environment where I can continuously learn</li>
    </ul>  

    <p>What do I do when I'm not studying and coding?</p>
    <ul>
      <li>Dogs</li>
      <li>Games</li>
      <li>Coffee</li>
      <li>Meetups : NewcastleJS, Newcastle Coders Group</li>
    </ul>
  </div>
  <img src="../../assets/me.jpg" class=" d-block w-100 rounded" alt="..">
</div>



