<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"
rel="stylesheet">

<div id ="contact">
  <div class =  "container-fluid">
    <h3>Get in touch</h3>
    <a href= "https://github.com/ethan-humphries" target = "_blank"><i class ="fas fa-code"></i></a>&nbsp; &nbsp;
    <a href= "mailto:ethan.humphries1993@hotmail.com" target = "_blank"><i class="far fa-envelope"></i></a>&nbsp; &nbsp;
    <a href= "https://www.linkedin.com/in/ethan-humphries-5133b9160/" target = "_blank"><i class="fab fa-linkedin"></i></a>&nbsp; &nbsp;
  </div>
</div>