<div id = "resume">
  <div class = "container-fluid">
    <h2>Resume</h2>
    <a href = "../../assets/Ethan-Humphries-Resume.pdf" download><button class = "btn btn-outline-info">Download My Resume</button></a><br><br>
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>Work Experience</h3>
          <ul>
            <li>Hunter Water: Customer Experience Contractor</li>
            <li>Service NSW: Digital Team/Website Support</li>
            <li>Smithy's Coffee Shack:  Trainer & Barista</li>
            <li>Bureau Veritas ITA: Coal Sampler/Laboratory Technician</li>
            <li>C & S Excavations:  Truck Driver/ Excavator operator Trainee</li>
            <li>Doran Site Services: Surveryors Assistant</li>
            <li>Seview Malaysian Resturaunt: Kitchen Coordinator</li>
          </ul>
        </div>
        <div class="col">
          <h3>Key Skills</h3>
          <ul>
            <li>Customer Experience/Service & User Experience</li>
            <li>Communication & Conflict Resolution</li>
            <li>Web Technologies: Angular, SQL, JSON, HTML/CSS/JS, AWS, Salesforce</li>
            <li>Adaptability and resilience with challenges</li>
            <li>Desire to learn and grow</li>
            <li>Team player, knowledge sharing & dynamic team growth</li>
            <li>Passion for the success of my team, leaders and business</li>
          </ul>
        </div>
        <div class="col">
          <h3>Education</h3>
          <ul>
            <li>Current: Bachelor of Information & Communication Technology -  Software Development Major (Final Year)</li>
            <li>Certificate III: Information Technology</li>
            <li>Certificate III: Spatial Information Services</li>
            <li>MR Truck Licence and Training</li>
            <li>Barista Accreditation</li>
            <li>Advanced Microsoft Office Skills Course</li>
          </ul>
        </div>
      </div>
  </div>
</div> 

